/* Add a black background color to the top navigation */
.topnav {
    background-color: #155759;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ff0000;
    color: white;
  }

  .services{
      background-color: #155759;
      overflow: auto;
      text-align: center;
      width: 100%;

  }
  .services a{
      float: left;
      color:white;
      text-align:center;
      padding-left: 15px;
      padding-right: 15px;
      width: 300px;
      height: 400px;
      
  }
  .services a:hover{
      background-color: red;
      color:white;
  }